# Libraries & Settings

In [80]:
%load_ext autoreload
%autoreload

import pandas as pd
import numpy as np
import qgrid
from datetime import datetime as dtt

from pa_lib.file import data_files, load_bin, store_bin, load_csv, write_xlsx, load_xlsx
from pa_lib.data import (
    calc_col_partitioned,
    clean_up_categoricals,
    flatten,
    replace_col,
    cond_col,
    desc_col,
    unfactorize,
    as_dtype,
    flatten_multi_index_cols,
)
from pa_lib.util import obj_size, cap_words
from pa_lib.log import time_log, info
from pa_lib.vis import dive

# display long columns completely, show more rows
pd.set_option("display.max_colwidth", 200)
pd.set_option("display.max_rows", 200)
pd.set_option("display.max_columns", 200)


def qshow(df, fit_width=False):
    return qgrid.show_grid(
        df, grid_options={"forceFitColumns": fit_width, "fullWidthRows": False}
    )

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load data

In [2]:
bd_raw = load_bin("bd_data.feather").rename(
    mapper=lambda name: cap_words(name, sep="_"), axis="columns"
)
bd = bd_raw.loc[(bd_raw.Netto >= 0)].pipe(clean_up_categoricals)

2019-08-08 14:00:11 [INFO] Reading from file C:\Users\kpf\data\bd_data.feather
C:\ProgramData\Anaconda3\lib\site-packages\pyarrow\pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels
2019-08-08 14:00:11 [INFO] Finished loading binary file in 0.18s (0.53s CPU)

In [3]:
desc_col(bd)

                                      DTYPE           NULLS   UNIQUE
Endkunde_NR                        category       0/1526093    41740
Endkunde                           category       0/1526093    39122
EK_Abc                             category    5389/1520704        8
EK_Boni                            category    2408/1523685        3
EK_Plz                             category     475/1525618     3468
EK_Ort                             category     474/1525619     3504
EK_Land                            category     474/1525619       60
EK_HB_Apg_Kurzz                    category   67234/1458859       95
EK_Aktiv                           category       0/1526093        2
Agentur                            category   770186/755907     4606
AG_Hauptbetreuer                   category   773046/753047       88
Verkaufsberater                    category       0/1526093      177
Endkunde_Branchengruppe_ID         category   13209/1512884       83
Endkunde_Branchengruppe            category   13209/1512884       83
Endkunde_Nbranchengruppe_ID        category  1291391/234702       64
Endkunde_Nbranchengruppe           category  1291391/234702       64
Endkunde_Branchenkat_ID            category   13209/1512884       22
Endkunde_Branchenkat               category   13209/1512884       22
Endkunde_Nbranchenkat_ID           category  1291391/234702       22
Endkunde_Nbranchenkat              category  1291391/234702       22
Auftrag_Branchengruppe_ID          category       0/1526093       83
Auftrag_Branchengruppe             category       0/1526093       83
Auftrag_Nbranchengruppe_ID         category  1400810/125283       80
Auftrag_Nbranchengruppe            category  1400810/125283       80
Auftrag_Branchenkat_ID             category       0/1526093       22
Auftrag_Branchenkat                category       0/1526093       22
Auftrag_Nbranchenkat_ID            category  1400851/125242       22
Auftrag_Nbranchenkat               category  1400851/125242       22
Agps_NR                               int64       0/1526093  1526093
Segment                            category       0/1526093        8
KV_NR                                 int64       0/1526093   425631
KV_Typ                             category       0/1526093        3
Kampagnen_Status                   category       0/1526093        5
Kampagne_Erfassungsdatum     datetime64[ns]       0/1526093     3436
Kampagne_Beginn              datetime64[ns]  359306/1166787     2506
Auftragsart                        category       0/1526093       13
Res_Dat                      datetime64[ns]       0/1526093     3475
Annullation_Datum            datetime64[ns]   898894/627199     3629
Aush_Von                     datetime64[ns]       0/1526093     2993
Dauer                                 int64       0/1526093      404
Vertrag                            category       0/1526093        2
Brutto                                int64       0/1526093    40125
Netto                                 int64       0/1526093    32002
Agglo                              category   67316/1458777     6570
PF                                 category     711/1525382     6764
Kamp_Beginn_Jahr                   category  359306/1166787       15
Kamp_Beginn_KW                     category  359306/1166787       53
Kamp_Beginn_KW_2                   category  359306/1166787       26
Kamp_Beginn_KW_4                   category  359306/1166787       13
Kamp_Erfass_Jahr                   category       0/1526093       13
Kamp_Erfass_KW                     category       0/1526093       53
Kamp_Erfass_KW_2                   category       0/1526093       26
Kamp_Erfass_KW_4                   category       0/1526093       13

# Prepare Endkunden Information

In [4]:
def last_notna(s):
    try:
        return s.loc[s.notna()].iat[-1]
    except IndexError:
        return np.NaN


def collect(s, sep=", "):
    return sep.join(map(str, s[s.notna()].unique()))


# this takes around 150 seconds
with time_log("preparing EK_INFO"):
    ek_info = (
        bd.sort_values(["Endkunde_NR", "Kampagne_Erfassungsdatum"])
        .astype({"Endkunde_NR": "int64", "Kamp_Erfass_Jahr": "int16"})
        .groupby("Endkunde_NR")
        .agg(
            {
                "Endkunde": last_notna,
                "EK_Aktiv": last_notna,
                "EK_Land": last_notna,
                "EK_Plz": last_notna,
                "EK_Ort": last_notna,
                "Agentur": last_notna,
                "Endkunde_Branchengruppe": last_notna,
                "Endkunde_Branchengruppe_ID": last_notna,
                "Auftrag_Branchengruppe_ID": [collect, "nunique"],
                "Kamp_Erfass_Jahr": ["min", "max"],
            }
        )
    )

ek_info.set_axis(
    labels="Endkunde EK_Aktiv EK_Land EK_Plz EK_Ort Agentur EK_BG EK_BG_ID Auftrag_BG_ID Auftrag_BG_Anz Kamp_Erfass_Jahr_min Kamp_Erfass_Jahr_max".split(),
    axis="columns",
    inplace=True,
)

2019-08-08 14:02:46 [INFO] Finished preparing EK_INFO in 147.77s (150.3s CPU)

### How many customers started or ended in which year?

In [5]:
pd.crosstab(
    index=ek_info.Kamp_Erfass_Jahr_min,
    columns=ek_info.Kamp_Erfass_Jahr_max,
    margins=True,
)

Kamp_Erfass_Jahr_max,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,All
Kamp_Erfass_Jahr_min,,,,,,,,,,,,,
2007,0,4,0,0,1,0,1,3,0,0,2,4,15
2008,365,201,139,106,101,134,133,127,159,163,405,794,2827
2009,0,2210,662,433,345,385,324,368,338,406,812,1355,7638
2010,0,0,1693,406,233,183,189,164,171,175,358,418,3990
2011,0,0,0,1822,325,214,175,224,178,156,309,407,3810
2012,0,0,0,0,1638,326,217,191,224,159,266,311,3332
2013,0,0,0,0,0,1663,376,215,196,200,292,315,3257
2014,0,0,0,0,0,0,1685,374,229,198,353,343,3182
2015,0,0,0,0,0,0,0,1799,362,256,366,365,3148
2016,0,0,0,0,0,0,0,0,2021,441,426,418,3306
2017,0,0,0,0,0,0,0,0,0,1984,630,430,3044
2018,0,0,0,0,0,0,0,0,0,0,2197,551,2748
2019,0,0,0,0,0,0,0,0,0,0,0,1443,1443
All,365,2415,2494,2767,2643,2905,3100,3465,3878,4138,6416,7154,41740

### Store and reload result

In [6]:
store_bin(ek_info, "bd_cluster_ek_info.feather")

2019-08-08 14:02:55 [INFO] Writing to file C:\Users\kpf\data\bd_cluster_ek_info.feather
2019-08-08 14:02:55 [INFO] Written 5.4 MB
2019-08-08 14:02:55 [INFO] Finished storing binary file in 0.04s (0.03s CPU)

In [7]:
ek_info = load_bin('bd_cluster_ek_info.feather')

2019-08-08 14:02:56 [INFO] Reading from file C:\Users\kpf\data\bd_cluster_ek_info.feather
2019-08-08 14:02:56 [INFO] Finished loading binary file in 0.02s (0.02s CPU)

# Distribution of Auftragsart vs. Vertrag

In [8]:
display(
    pd.crosstab(
        index=[bd.Auftragsart, bd.Vertrag], columns=bd.Kamp_Erfass_Jahr, margins=True
    )
)
display("Netto-Umsatz")
display(
    bd.pivot_table(
        index=["Auftragsart", "Vertrag"],
        columns="Kamp_Erfass_Jahr",
        values="Netto",
        aggfunc="sum",
        fill_value=0,
        margins=True,
    )
)

Kamp_Erfass_Jahr                 2007   2008    2009    2010    2011    2012  \
Auftragsart             Vertrag
Aushangauftrag Partner  Nein        0     90    2074    1698    1815    2337
Eigenwerbung APG        Nein        0      0     294      69     124     177
Freespace               Nein        0      0       0       0       0       0
Goodwill                Nein        0     10     103     104     123     180
Karitativ               Nein        0    200     438     695     403     704
Kommerziell             Nein        0  14150   71746   78234   84716   78514
Logistik für Dritte     Nein        0      0      96     525    1434    1416
Politisch               Nein        0   1041    3880    4385    8983    5950
Promotion               Nein        0    191    3895    2870    3123    3301
Sponsoring              Nein        0     67     642     493     774     715
Traffic Auftrag         Ja         17   2072    7710    8128    8059    8065
                        Nein        4   1013    5292    4863    5746    5885
Vertragsvorschrift (OC) Nein        0   2541    7753    8046    8592    8310
langfristiger Vertrag   Ja          0    532    2731    3478    4659    4968
                        Nein        0      0       1       0       0       0
All                                21  21907  106655  113588  128551  120522

Kamp_Erfass_Jahr                   2013    2014    2015    2016    2017  \
Auftragsart             Vertrag
Aushangauftrag Partner  Nein       2786    1520      33      16      19
Eigenwerbung APG        Nein         41     721    1256    1380    1168
Freespace               Nein          0       0       0       0    2786
Goodwill                Nein        163     134     192     134     150
Karitativ               Nein        524     726     897    1301    1354
Kommerziell             Nein      77696   91767  108510  126063  125936
Logistik für Dritte     Nein       1292    1530    1900    1866    2045
Politisch               Nein       5655    6170   10853    9185    6759
Promotion               Nein       5370    2590    3584    4673    5462
Sponsoring              Nein        682     396     415     326     366
Traffic Auftrag         Ja         8804    9019   10332    8914    7558
                        Nein       5805    5274    5956    5075    4407
Vertragsvorschrift (OC) Nein       8483    8112    8008    8432    5842
langfristiger Vertrag   Ja         5884    6992    5800    5604    5680
                        Nein          0       0       0       0       0
All                              123185  134951  157736  172969  169532

Kamp_Erfass_Jahr                   2018   2019      All
Auftragsart             Vertrag
Aushangauftrag Partner  Nein         23     14    12425
Eigenwerbung APG        Nein        423    138     5791
Freespace               Nein       4069   1704     8559
Goodwill                Nein        158     61     1512
Karitativ               Nein       1541    746     9529
Kommerziell             Nein     126373  74202  1057907
Logistik für Dritte     Nein       1772    810    14686
Politisch               Nein       7973   6969    77803
Promotion               Nein       7906    988    43953
Sponsoring              Nein        902    188     5966
Traffic Auftrag         Ja         8410   3969    91057
                        Nein       4384   2463    56167
Vertragsvorschrift (OC) Nein       7110   3679    84908
langfristiger Vertrag   Ja         6703   2798    55829
                        Nein          0      0        1
All                              177747  98729  1526093

'Netto-Umsatz'

Kamp_Erfass_Jahr                   2007      2008       2009       2010  \
Auftragsart             Vertrag
Aushangauftrag Partner  Nein          0     30444     849600     791206
Eigenwerbung APG        Nein          0         0    3897655          0
Freespace               Nein          0         0          0          0
Goodwill                Nein          0         0       6543       7939
Karitativ               Nein          0    724644    1960077    1628917
Kommerziell             Nein          0  33806952  148051046  162393013
Logistik für Dritte     Nein          0         0          0          0
Politisch               Nein          0   2040430    6938949    6463858
Promotion               Nein          0   1083041    5375644    4376195
Sponsoring              Nein          0    348746    1097029    1087749
Traffic Auftrag         Ja       126183   5587884   18617350   20502785
                        Nein          0   1842603    9654524   10300804
Vertragsvorschrift (OC) Nein          0    324156    1042187     871336
langfristiger Vertrag   Ja            0   2533036    9467552   14449032
                        Nein          0         0          0          0
All                              126183  48321936  206958156  222872834

Kamp_Erfass_Jahr                      2011       2012       2013       2014  \
Auftragsart             Vertrag
Aushangauftrag Partner  Nein        739514    1026394    1000669     439344
Eigenwerbung APG        Nein          4670    1048532          0        360
Freespace               Nein             0          0          0          0
Goodwill                Nein          4953      18668       2994       4762
Karitativ               Nein       1866012    2668615    2253943    2318474
Kommerziell             Nein     168628594  175031787  158519973  182560236
Logistik für Dritte     Nein          4600     184578      31589     132394
Politisch               Nein      18562173   11082670    9945225   10458567
Promotion               Nein       3393104    3505266    5451654    3185928
Sponsoring              Nein       2340803    2588788    3282531    3450304
Traffic Auftrag         Ja        21100504   18982038   21531605   21455712
                        Nein      12427588   12043390   11831383   10907630
Vertragsvorschrift (OC) Nein       2147664    1629103    1307660    1075297
langfristiger Vertrag   Ja        23996272   20240983   24234367   24133973
                        Nein             0          0          0          0
All                              255216451  250050812  239393593  260122981

Kamp_Erfass_Jahr                      2015       2016       2017       2018  \
Auftragsart             Vertrag
Aushangauftrag Partner  Nein        110412      92214     117954     150966
Eigenwerbung APG        Nein        133390     126540    1222454      72427
Freespace               Nein             0          0          0          0
Goodwill                Nein          4191       1732      17772      16741
Karitativ               Nein       2578634    3459117    2775404    3962032
Kommerziell             Nein     193519765  204222602  197001081  191949492
Logistik für Dritte     Nein        479850     420927     418245     522661
Politisch               Nein      16977360   11414298    6379246    8489070
Promotion               Nein       3787542    4991362    4881049    9304271
Sponsoring              Nein       3740079    3906123    3671259    3432667
Traffic Auftrag         Ja        24222018   22151253   18994976   20815898
                        Nein      12585335    9531588    8173750    7293439
Vertragsvorschrift (OC) Nein        773025    1001084     939051    1898591
langfristiger Vertrag   Ja        17455480   15535026   14923445   15401902
                        Nein             0          0          0          0
All                              276367081  276853866  259515686  263310157

Kamp_Erfass_Jahr                      2019         All
Auftragsart             Vertrag
Aushangauftrag Partner  Nein         72198     5420915
Eigenwerbung APG        Nein             0     6506028
Freespace               Nein             0           0
Goodwill                Nein          5925       92220
Karitativ               Nein       2632140    28828009
Kommerziell             Nein     145654263  1961338804
Logistik für Dritte     Nein        239121     2433965
Politisch               Nein      10458705   119210551
Promotion               Nein       1960374    51295430
Sponsoring              Nein        438138    29384216
Traffic Auftrag         Ja        12593309   226681515
                        Nein       9221337   115813371
Vertragsvorschrift (OC) Nein       1652511    14661665
langfristiger Vertrag   Ja         7166554   189537622
                        Nein             0           0
All                              192094575  2751204311

# Restrict bookings to interesting customers (current & long-term)

### List of current long-time customers

* "Current" means that their last booking was not more than two years back. 
* "Long-time" means that they had at least two years of bookings.

In [30]:
limit_year = pd.Timestamp.today().year - 2

ek_nr_current = ek_info.loc[
    (ek_info.Kamp_Erfass_Jahr_max >= limit_year)
    & (ek_info.Kamp_Erfass_Jahr_min < limit_year - 2),
    "Endkunde_NR"
]

In [31]:
bd_current = bd.loc[bd.Endkunde_NR.isin(ek_nr_current)].pipe(clean_up_categoricals)

# Aggregate bookings per customer, year, and KW_2 / KW_4 period

Both by Reservation and Aushang.

In [32]:
def sum_calc(df, col_year, col_week):
    return (
        df.loc[:, ["Endkunde_NR", col_year, col_week, "Netto"]]
        .pipe(unfactorize)
        .groupby(["Endkunde_NR", col_year, col_week], observed=True, as_index=False)
        .agg({"Netto": ["sum"]})
        .set_axis(
            f"Endkunde_NR {col_year} {col_week} Netto_Sum".split(),
            axis="columns",
            inplace=False,
        )
    )


def aggregate_bookings(df, period):
    info(f"Period: {period}")
    info("Calculate Reservation...")
    df_res = sum_calc(df, "Kamp_Erfass_Jahr", f"Kamp_Erfass_{period}")
    info("Calculate Aushang...")
    df_aus = sum_calc(df, "Kamp_Beginn_Jahr", f"Kamp_Beginn_{period}")

    info("Merge Results...")
    df_aggr = df_res.merge(
        right=df_aus,
        left_on=["Endkunde_NR", "Kamp_Erfass_Jahr", f"Kamp_Erfass_{period}"],
        right_on=["Endkunde_NR", "Kamp_Beginn_Jahr", f"Kamp_Beginn_{period}"],
        how="outer",
        suffixes=("_Res", "_Aus"),
    ).rename(
        {"Kamp_Erfass_Jahr": "Jahr", f"Kamp_Erfass_{period}": period}, axis="columns"
    )

    df_aggr = (
        df_aggr.fillna(
            {
                "Jahr": df_aggr.Kamp_Beginn_Jahr,
                period: df_aggr[f"Kamp_Beginn_{period}"],
                "Netto_Sum_Res": 0,
                "Netto_Sum_Aus": 0,
            }
        )
        .drop(["Kamp_Beginn_Jahr", f"Kamp_Beginn_{period}"], axis="columns")
        .astype({"Jahr": "int16"})
        .astype({period: "int8"})
        .sort_values(["Jahr", "Endkunde_NR", period])
        .reset_index(drop=True)
    )

    return df_aggr

In [58]:
bd_aggr_2w = aggregate_bookings(bd_current, 'KW_2')
bd_aggr_4w = aggregate_bookings(bd_current, 'KW_4')

2019-08-08 15:40:07 [INFO] Period: KW_2
2019-08-08 15:40:07 [INFO] Calculate Reservation...
2019-08-08 15:40:08 [INFO] Calculate Aushang...
2019-08-08 15:40:08 [INFO] Merge Results...
2019-08-08 15:40:09 [INFO] Period: KW_4
2019-08-08 15:40:09 [INFO] Calculate Reservation...
2019-08-08 15:40:09 [INFO] Calculate Aushang...
2019-08-08 15:40:09 [INFO] Merge Results...

In [59]:
bd_aggr_2w.head(10)

   Endkunde_NR  Jahr  KW_2  Netto_Sum_Res  Netto_Sum_Aus
0       103092  2007    45         5310.0            0.0
1       115554  2007    25            0.0            0.0
2       116266  2007    23         5700.0            0.0
3       164877  2007    13            0.0            0.0
4       164877  2007    19            0.0            0.0
5       177225  2007    45         2365.0            0.0
6       494878  2007    47         5900.0            0.0
7       100098  2008    39        16755.0            0.0
8       100143  2008    39        15000.0            0.0
9       100143  2008    49         2560.0            0.0

### Calculate sum curve per customer * year, over periods

In [44]:
def make_year_grp_sumcurve(df, year_col, grp_col, data_col, prefix=''):
    # build new columns with sum/cumsum per year/grp
    df = (df
          .pipe(calc_col_partitioned, f'{prefix}sumJahr', fun='sum',    on=data_col, part_by=[year_col, grp_col])
          .pipe(calc_col_partitioned, f'{prefix}cumJahr', fun='cumsum', on=data_col, part_by=[year_col, grp_col]))

    # divide data_col by sum to get scaled amounts, show in %
    df = (df.eval(f'{prefix}prcJahr = ({data_col} / {prefix}sumJahr) * 100 + 0.5')
            .fillna({f'{prefix}prcJahr': 0})
            .astype({f'{prefix}prcJahr': 'int'}))

    # divide cumsum by sum to get sum curve [0, 1], show in %
    df = (df.eval(f'{prefix}crvJahr = ({prefix}cumJahr / {prefix}sumJahr) * 100 + 0.5')
            .fillna({f'{prefix}crvJahr': 0})
            .astype({f'{prefix}crvJahr': 'int'}))
    return df

In [62]:
bd_aggr_2w = (
    bd_aggr_2w.pipe(
        make_year_grp_sumcurve,
        year_col="Jahr",
        grp_col="Endkunde_NR",
        data_col="Netto_Sum_Res",
        prefix="Res_",
    )
    .pipe(
        make_year_grp_sumcurve,
        year_col="Jahr",
        grp_col="Endkunde_NR",
        data_col="Netto_Sum_Aus",
        prefix="Aus_",
    )
    .sort_values(["Endkunde_NR", "Jahr", "KW_2"])
    .reset_index(drop=True)
)

bd_aggr_4w = (
    bd_aggr_4w.pipe(
        make_year_grp_sumcurve,
        year_col="Jahr",
        grp_col="Endkunde_NR",
        data_col="Netto_Sum_Res",
        prefix="Res_",
    )
    .pipe(
        make_year_grp_sumcurve,
        year_col="Jahr",
        grp_col="Endkunde_NR",
        data_col="Netto_Sum_Aus",
        prefix="Aus_",
    )
    .sort_values(["Endkunde_NR", "Jahr", "KW_4"])
    .reset_index(drop=True)
)

### Store and reload results

In [67]:
store_bin(bd_aggr_2w, 'bd_cluster_aggr_2w.feather')
store_bin(bd_aggr_4w, 'bd_cluster_aggr_4w.feather')

2019-08-08 16:12:20 [INFO] Writing to file C:\Users\kpf\data\bd_cluster_aggr_2w.feather
2019-08-08 16:12:21 [INFO] Written 19.1 MB
2019-08-08 16:12:21 [INFO] Finished storing binary file in 0.02s (0.11s CPU)
2019-08-08 16:12:21 [INFO] Writing to file C:\Users\kpf\data\bd_cluster_aggr_4w.feather
2019-08-08 16:12:21 [INFO] Written 15.9 MB
2019-08-08 16:12:21 [INFO] Finished storing binary file in 0.02s (0.19s CPU)

In [72]:
bd_aggr_2w = load_bin('bd_cluster_aggr_2w.feather')
bd_aggr_4w = load_bin('bd_cluster_aggr_4w.feather')

2019-08-08 16:18:24 [INFO] Reading from file C:\Users\kpf\data\bd_cluster_aggr_2w.feather
2019-08-08 16:18:24 [INFO] Finished loading binary file in 0.01s (0.0s CPU)
2019-08-08 16:18:24 [INFO] Reading from file C:\Users\kpf\data\bd_cluster_aggr_4w.feather
2019-08-08 16:18:24 [INFO] Finished loading binary file in 0.01s (0.16s CPU)

# Finally, some clustering

### Drop incomplete years

We have data for the last 10 years, the current year is incomplete

In [92]:
valid_years = list(range(pd.Timestamp.today().year - 10, pd.Timestamp.today().year))
valid_years

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

### Pivot prc values by period

In [94]:
bd_res_prc_2w_data = bd_aggr_2w.loc[(bd_aggr_2w.Jahr.isin(valid_years))].pivot_table(
    index=["Endkunde_NR", "Jahr"],
    columns="KW_2",
    values="Res_prcJahr",
    aggfunc="sum",
    fill_value=0,
)

bd_res_prc_2w_data.head(12)

KW_2              1   3   5   7   9   11  13  15  17  19  21  23  25  27  29  \
Endkunde_NR Jahr
100034      2009   0   0   0  33   2   0   0   0   6   0   0   0   0   0   0
            2010   0   0   0   0  31   0   0   0   0   0   0   0   0   0  12
            2011   0   0   0   0  40   0   0   0   0   0   0   0   0   0   0
            2012   0   0   0   0  29   0   0   0   0   0   0   0   0   0   8
            2013   0   0  52   2   0   0   0   0   0   0   0   0   0   0   0
            2014   0  40   2   0   0   0   0   0   0   0   0   0   0   0   0
            2015   0   0  44   0   0   0   0   0   0   0   0   0   0   0   0
            2016   0  57   0   0   0   0   0   0   0   0   0   0   0   0   0
            2017   0   0  28   0   0   0   0   0   0   0   0   0   0   0   0
            2018   0   0  26   0   0   0   0   0   0   0   0   0   0   0   0
100039      2009  23   0   0   0   0   0  55   0   0   0   0   0   0   0   0
            2010   0   0   0   0   0   0   0   0  55   0   0   0   0   0   0

KW_2              31  33  35  37  39  41  43  45  47  49  51
Endkunde_NR Jahr
100034      2009   0   0   0   0  14   0   6  40   0   0   0
            2010   0   0   0   0   0   0  57   0   0   0   0
            2011  14   0   0   0   4   2  41   0   0   0   0
            2012   9   0   0   0   0   0  51   2   0   0   0
            2013  14   0   0   0   0   0  32   0   0   0   0
            2014   0   0   0   0   0   0  58   0   0   0   0
            2015   0   0   0   0   0   0  51   5   0   0   0
            2016   0   0   0   0   0  39   4   0   0   0   0
            2017   0   0   0   0   0  26  47   0   0   0   0
            2018   0   0   0   0   0   0  74   0   0   0   0
100039      2009   0   0   0   0   0   0   0   0   0   0  23
            2010   0   0   0   0   0   0   0   0   0   0  45

### Aggregate over years by customer

In [175]:
ek_2w_prc_mean = (
    bd_res_prc_2w_data.reset_index()
    .drop("Jahr", axis="columns")
    .groupby("Endkunde_NR")
    .agg("mean")
)

ek_2w_prc_mean_stack = (
    ek_2w_prc_mean.stack()
    .reset_index()
    .set_axis(["Endkunde_NR", "KW_2", "prc_mean"], axis="columns", inplace=False)
)

display(ek_2w_prc_mean.head(10))
display(ek_2w_prc_mean_stack.head(28))

KW_2,1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51
Endkunde_NR,,,,,,,,,,,,,,,,,,,,,,,,,,
100034,0.000000,9.7,15.2,3.500000,10.200000,0.000000,0.000000,0.0,0.6,0.0,0.0,0.0,0.000000,0.0,2.000000,3.7,0.000000,0.000000,0.0,1.8,6.700000,42.100000,4.700000,0.000000,0.000000,0.000000
100039,2.300000,5.3,0.0,0.000000,4.200000,8.800000,11.200000,8.5,5.5,0.0,0.0,3.1,0.000000,0.0,0.000000,8.9,0.000000,16.800000,0.0,0.0,0.000000,0.000000,12.700000,2.600000,2.200000,8.000000
100064,0.000000,0.0,0.0,0.000000,11.111111,0.000000,83.111111,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,5.777778,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100066,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,10.0,0.0,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000
100083,4.111111,0.0,0.0,11.111111,0.000000,0.222222,0.000000,0.0,0.0,0.0,0.0,0.0,11.111111,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,6.666667
100095,0.000000,0.0,1.8,22.300000,9.600000,2.200000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,32.900000,31.2,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100097,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,4.571429,0.0,5.142857,0.0,2.285714,8.285714,0.0,0.0,18.571429,5.428571,2.142857,10.571429,14.285714,0.000000
100098,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,100.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100104,0.000000,0.0,0.0,0.000000,2.700000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,10.000000,80.0,3.700000,3.700000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100109,0.000000,0.0,4.9,0.000000,2.600000,13.500000,0.000000,0.0,65.1,0.0,0.0,14.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

    Endkunde_NR  KW_2  prc_mean
0        100034     1       0.0
1        100034     3       9.7
2        100034     5      15.2
3        100034     7       3.5
4        100034     9      10.2
5        100034    11       0.0
6        100034    13       0.0
7        100034    15       0.0
8        100034    17       0.6
9        100034    19       0.0
10       100034    21       0.0
11       100034    23       0.0
12       100034    25       0.0
13       100034    27       0.0
14       100034    29       2.0
15       100034    31       3.7
16       100034    33       0.0
17       100034    35       0.0
18       100034    37       0.0
19       100034    39       1.8
20       100034    41       6.7
21       100034    43      42.1
22       100034    45       4.7
23       100034    47       0.0
24       100034    49       0.0
25       100034    51       0.0
26       100039     1       2.3
27       100039     3       5.3

### Several clustering methods

Prepare data

In [176]:
X = ek_2w_prc_mean.to_numpy()

X_columns = ek_2w_prc_mean.columns

#### OPTICS

In [128]:
from sklearn.cluster import OPTICS

clust = OPTICS(min_samples=50, xi=.05, min_cluster_size=.05, n_jobs=-1)

clust.fit(X)

#### MiniBatchKMeans

In [190]:
from sklearn.cluster import MiniBatchKMeans

kmeans = MiniBatchKMeans(n_clusters=20,
                         random_state=0,
                         batch_size=100,
                         max_iter=10,
                         reassignment_ratio=0.5,
                         n_init=10,
                         verbose=True)

kminibatch_labels = kmeans.fit_predict(X)

Init 1/10 with method: k-means++
Inertia for init 1/10: 285694.909399
Init 2/10 with method: k-means++
Inertia for init 2/10: 284596.898128
Init 3/10 with method: k-means++
Inertia for init 3/10: 297419.144985
Init 4/10 with method: k-means++
Inertia for init 4/10: 291112.433895
Init 5/10 with method: k-means++
Inertia for init 5/10: 310689.948625
Init 6/10 with method: k-means++
Inertia for init 6/10: 282953.336385
Init 7/10 with method: k-means++
Inertia for init 7/10: 299501.674071
Init 8/10 with method: k-means++
Inertia for init 8/10: 275468.003470
Init 9/10 with method: k-means++
Inertia for init 9/10: 282128.239356
Init 10/10 with method: k-means++
Inertia for init 10/10: 301448.636461
Minibatch iteration 1/820: mean batch inertia: 984.753505, ewa inertia: 984.753505
Minibatch iteration 2/820: mean batch inertia: 1106.335547, ewa inertia: 987.719282
Minibatch iteration 3/820: mean batch inertia: 1039.662907, ewa inertia: 988.986354
Minibatch iteration 4/820: mean batch inertia: 1028.937489, ewa inertia: 989.960891
Minibatch iteration 5/820: mean batch inertia: 909.003262, ewa inertia: 987.986074
Minibatch iteration 6/820: mean batch inertia: 849.890453, ewa inertia: 984.617477
Minibatch iteration 7/820: mean batch inertia: 810.167844, ewa inertia: 980.362089
Minibatch iteration 8/820: mean batch inertia: 1032.830404, ewa inertia: 981.641960
Minibatch iteration 9/820: mean batch inertia: 839.911531, ewa inertia: 978.184699
Minibatch iteration 10/820: mean batch inertia: 856.331969, ewa inertia: 975.212319
Minibatch iteration 11/820: mean batch inertia: 879.366208, ewa inertia: 972.874323
Minibatch iteration 12/820: mean batch inertia: 893.499894, ewa inertia: 970.938126
Minibatch iteration 13/820: mean batch inertia: 959.699352, ewa inertia: 970.663976
Minibatch iteration 14/820: mean batch inertia: 982.635165, ewa inertia: 970.955992
Minibatch iteration 15/820: mean batch inertia: 879.104197, ewa inertia: 968.715431
Minibatch iteration 16/820: mean batch inertia: 895.979204, ewa inertia: 966.941160
Minibatch iteration 17/820: mean batch inertia: 931.864972, ewa inertia: 966.085539
Minibatch iteration 18/820: mean batch inertia: 852.699787, ewa inertia: 963.319696
Minibatch iteration 19/820: mean batch inertia: 967.202343, ewa inertia: 963.414406
Minibatch iteration 20/820: mean batch inertia: 858.204212, ewa inertia: 960.847990
Minibatch iteration 21/820: mean batch inertia: 943.050667, ewa inertia: 960.413856
Minibatch iteration 22/820: mean batch inertia: 1075.087763, ewa inertia: 963.211122
Minibatch iteration 23/820: mean batch inertia: 944.897784, ewa inertia: 962.764401
Minibatch iteration 24/820: mean batch inertia: 876.334630, ewa inertia: 960.656101
Minibatch iteration 25/820: mean batch inertia: 854.326735, ewa inertia: 958.062385
Minibatch iteration 26/820: mean batch inertia: 1021.119524, ewa inertia: 959.600552
Minibatch iteration 27/820: mean batch inertia: 903.175759, ewa inertia: 958.224169
Minibatch iteration 28/820: mean batch inertia: 932.402665, ewa inertia: 957.594300
Minibatch iteration 29/820: mean batch inertia: 914.958339, ewa inertia: 956.554272
Minibatch iteration 30/820: mean batch inertia: 875.856876, ewa inertia: 954.585802
Minibatch iteration 31/820: mean batch inertia: 979.209330, ewa inertia: 955.186449
Minibatch iteration 32/820: mean batch inertia: 922.730402, ewa inertia: 954.394742
Minibatch iteration 33/820: mean batch inertia: 1003.407466, ewa inertia: 955.590320
Minibatch iteration 34/820: mean batch inertia: 836.553845, ewa inertia: 952.686637
Minibatch iteration 35/820: mean batch inertia: 904.857960, ewa inertia: 951.519942
Minibatch iteration 36/820: mean batch inertia: 796.173435, ewa inertia: 947.730541
Minibatch iteration 37/820: mean batch inertia: 752.173592, ewa inertia: 942.960277
Minibatch iteration 38/820: mean batch inertia: 905.510840, ewa inertia: 942.046765
Minibatch iteration 39/820: mean batch inertia: 955.220751, ewa inertia: 942.368121
Minibatch iteration 40/820: mean batch inertia: 957.590220, ewa inertia: 942.739437
Minibatch iteration 41/820: mean batch inertia: 892.548789, ewa inertia: 941.515125
Minibatch iteration 42/820: mean batch inertia: 943.770328, ewa inertia: 941.570137
Minibatch iteration 43/820: mean batch inertia: 830.847124, ewa inertia: 938.869246
Minibatch iteration 44/820: mean batch inertia: 874.733782, ewa inertia: 937.304776
Minibatch iteration 45/820: mean batch inertia: 909.972197, ewa inertia: 936.638046
Minibatch iteration 46/820: mean batch inertia: 926.814330, ewa inertia: 936.398414
Minibatch iteration 47/820: mean batch inertia: 935.582087, ewa inertia: 936.378501
Minibatch iteration 48/820: mean batch inertia: 782.817357, ewa inertia: 932.632651
Minibatch iteration 49/820: mean batch inertia: 870.624734, ewa inertia: 931.120078
Minibatch iteration 50/820: mean batch inertia: 831.112346, ewa inertia: 928.680568
Minibatch iteration 51/820: mean batch inertia: 995.179665, ewa inertia: 930.302695
Minibatch iteration 52/820: mean batch inertia: 837.716696, ewa inertia: 928.044224
Minibatch iteration 53/820: mean batch inertia: 891.920464, ewa inertia: 927.163049
Minibatch iteration 54/820: mean batch inertia: 900.563428, ewa inertia: 926.514199
Minibatch iteration 55/820: mean batch inertia: 815.880608, ewa inertia: 923.815490
Minibatch iteration 56/820: mean batch inertia: 992.886304, ewa inertia: 925.500349
Minibatch iteration 57/820: mean batch inertia: 762.607200, ewa inertia: 921.526861
Minibatch iteration 58/820: mean batch inertia: 936.912905, ewa inertia: 921.902176
Minibatch iteration 59/820: mean batch inertia: 784.787550, ewa inertia: 918.557509
Minibatch iteration 60/820: mean batch inertia: 796.722763, ewa inertia: 915.585567
Minibatch iteration 61/820: mean batch inertia: 731.695135, ewa inertia: 911.099888
Minibatch iteration 62/820: mean batch inertia: 897.306775, ewa inertia: 910.763429
Minibatch iteration 63/820: mean batch inertia: 770.449696, ewa inertia: 907.340726
Minibatch iteration 64/820: mean batch inertia: 960.728413, ewa inertia: 908.643023
Minibatch iteration 65/820: mean batch inertia: 847.159598, ewa inertia: 907.143245
Minibatch iteration 66/820: mean batch inertia: 900.615928, ewa inertia: 906.984022
Minibatch iteration 67/820: mean batch inertia: 906.677137, ewa inertia: 906.976537
Minibatch iteration 68/820: mean batch inertia: 889.320136, ewa inertia: 906.545840
Minibatch iteration 69/820: mean batch inertia: 978.463087, ewa inertia: 908.300133
Minibatch iteration 70/820: mean batch inertia: 786.221220, ewa inertia: 905.322236
Minibatch iteration 71/820: mean batch inertia: 885.299317, ewa inertia: 904.833812
Minibatch iteration 72/820: mean batch inertia: 926.897392, ewa inertia: 905.372014
Minibatch iteration 73/820: mean batch inertia: 877.969696, ewa inertia: 904.703583
Minibatch iteration 74/820: mean batch inertia: 855.812530, ewa inertia: 903.510973
Minibatch iteration 75/820: mean batch inertia: 924.938841, ewa inertia: 904.033668
Minibatch iteration 76/820: mean batch inertia: 873.325837, ewa inertia: 903.284605
Minibatch iteration 77/820: mean batch inertia: 847.592442, ewa inertia: 901.926094
Minibatch iteration 78/820: mean batch inertia: 912.544495, ewa inertia: 902.185111
Minibatch iteration 79/820: mean batch inertia: 908.030955, ewa inertia: 902.327710
Minibatch iteration 80/820: mean batch inertia: 816.939628, ewa inertia: 900.244820
Minibatch iteration 81/820: mean batch inertia: 786.106665, ewa inertia: 897.460623
Minibatch iteration 82/820: mean batch inertia: 922.257908, ewa inertia: 898.065508
Minibatch iteration 83/820: mean batch inertia: 884.779245, ewa inertia: 897.741413
Minibatch iteration 84/820: mean batch inertia: 790.785080, ewa inertia: 895.132404
Minibatch iteration 85/820: mean batch inertia: 922.134925, ewa inertia: 895.791083
Minibatch iteration 86/820: mean batch inertia: 945.810632, ewa inertia: 897.011220
Minibatch iteration 87/820: mean batch inertia: 920.145080, ewa inertia: 897.575530
Minibatch iteration 88/820: mean batch inertia: 865.425867, ewa inertia: 896.791296
Minibatch iteration 89/820: mean batch inertia: 809.179323, ewa inertia: 894.654158
Minibatch iteration 90/820: mean batch inertia: 856.601860, ewa inertia: 893.725940
Minibatch iteration 91/820: mean batch inertia: 999.141837, ewa inertia: 896.297373
Minibatch iteration 92/820: mean batch inertia: 779.521696, ewa inertia: 893.448838
Minibatch iteration 93/820: mean batch inertia: 944.132844, ewa inertia: 894.685184
Minibatch iteration 94/820: mean batch inertia: 891.682203, ewa inertia: 894.611932
Minibatch iteration 95/820: mean batch inertia: 1036.950453, ewa inertia: 898.084027
Minibatch iteration 96/820: mean batch inertia: 845.953363, ewa inertia: 896.812392
Minibatch iteration 97/820: mean batch inertia: 974.053764, ewa inertia: 898.696558
Minibatch iteration 98/820: mean batch inertia: 922.543761, ewa inertia: 899.278268
Minibatch iteration 99/820: mean batch inertia: 865.632292, ewa inertia: 898.457534
Minibatch iteration 100/820: mean batch inertia: 988.926587, ewa inertia: 900.664365
Minibatch iteration 101/820: mean batch inertia: 801.197142, ewa inertia: 898.238040
Minibatch iteration 102/820: mean batch inertia: 950.043898, ewa inertia: 899.501751
Converged (lack of improvement in inertia) at iteration 102/820
Computing label assignment and total inertia

In [191]:
pd.DataFrame(data=kmeans.cluster_centers_, columns=X_columns)

KW_2,1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51
0,1.299648,1.500277,1.524791,0.737129,1.669305,0.553064,1.179083,0.497450,1.361388,0.529503,0.850568,0.348839,0.425273,0.524004,1.139101,0.478475,0.402966,0.874840,0.379478,0.452711,1.422033,1.374092,2.433153,48.077992,16.327478,1.200874
1,24.347924,3.598095,3.551669,2.456705,2.909829,2.144973,1.552277,1.165211,1.333323,0.780752,1.357147,0.741281,1.119521,0.803149,1.054837,0.944392,1.226760,0.643688,1.234830,1.443800,1.639495,1.986628,0.991508,1.964530,2.747023,16.303574
2,1.255457,3.548057,2.498286,3.596122,2.727108,2.769637,2.358115,2.153873,1.761761,1.030073,1.838298,2.467986,1.902853,2.143736,1.651459,1.541966,2.277660,0.813715,1.311392,1.982884,2.575928,2.446475,0.867092,2.281272,3.077749,1.720683
3,0.241724,0.161411,0.399816,0.333284,0.149193,0.071369,0.400864,0.143292,0.312586,0.325489,0.158645,0.275934,0.573029,0.554772,0.380590,0.703366,0.566271,0.957054,0.615155,84.256832,1.360558,0.642857,1.381038,1.124778,0.488266,0.775953
4,1.012559,0.367101,1.880602,1.470648,1.733240,0.553447,1.188767,0.970196,1.128250,0.935435,1.759695,2.923042,35.169784,24.926203,3.449686,2.005364,1.614082,1.196989,0.905145,1.050101,0.414246,0.503259,0.688729,0.529376,1.118929,1.043643
5,1.130247,0.546306,0.913809,1.679858,1.599360,1.779058,1.746861,1.772363,66.138840,3.069727,1.244090,1.078862,0.716592,1.306127,0.786968,2.009524,0.585375,1.488941,0.363957,1.583185,0.566961,0.477000,0.897224,0.460905,0.648640,1.831413
6,1.179010,3.320670,64.803629,1.989981,4.080699,1.772537,1.509723,0.435071,1.004633,0.354614,0.869798,0.358402,1.421291,0.572919,0.369303,0.390718,0.546387,2.548343,0.138450,0.953592,0.280452,1.751770,0.519209,1.021111,0.493202,0.489755
7,0.841304,1.374639,1.856664,2.125184,5.714759,3.124689,5.500556,36.157869,4.336269,2.249050,2.078362,2.517193,2.073742,1.455027,1.770925,1.076609,0.954809,0.920189,1.066670,0.836497,3.626093,1.464987,1.115750,1.196383,1.198084,1.008095
8,0.706283,0.319954,1.715815,0.724275,1.157569,0.682040,1.891598,0.604674,1.370838,1.867857,51.632969,11.013509,3.065554,3.502334,1.084230,1.225849,0.484413,1.409025,0.338165,1.506086,0.645224,0.994698,0.653771,0.913053,0.387236,0.617878
9,1.063642,1.345310,2.616974,2.067458,3.106118,2.614763,5.173224,8.594926,9.577555,16.866616,5.966816,6.917127,3.294477,2.471077,2.165178,2.345403,1.545928,0.939723,1.286799,1.038089,1.864386,1.601608,1.465631,1.604554,1.006641,0.770124
10,0.858596,0.437907,1.303069,1.431474,1.260332,0.441773,1.607160,1.202910,1.159145,0.986691,0.822318,1.196421,1.574173,2.194384,5.078932,58.345170,1.511011,1.987557,1.636423,2.247308,1.410302,1.122248,0.747334,0.811446,0.605699,0.880264
11,1.431980,1.007519,2.016497,1.417919,1.256104,0.629540,1.999241,1.200408,2.006674,0.868552,1.471296,1.113870,1.189718,1.147612,0.416035,0.932532,0.645811,1.890393,0.988010,2.462872,3.293983,48.777683,2.302054,3.484762,2.585349,1.211980
12,0.523941,0.839057,2.304157,3.900881,62.591945,2.055563,3.169164,1.354112,2.930690,0.269811,0.886313,0.755229,1.305912,0.373627,0.932673,0.582075,0.888793,0.934507,0.342013,0.640713,0.449464,0.690404,1.152818,0.731963,0.881195,0.349738
13,1.406521,1.589477,1.295995,2.060296,2.302684,1.158814,2.069267,3.911471,1.993039,1.241231,0.972033,1.427332,1.582157,1.082347,0.854267,1.287996,1.087374,1.051280,1.250355,1.560362,37.595719,5.748278,3.136919,2.664527,1.946210,1.102510
14,0.627840,0.720935,2.737675,1.723541,3.527189,2.217462,60.713937,2.090195,2.565498,1.085616,1.445444,0.647350,0.944019,1.476406,1.149475,1.533233,0.779734,0.980174,0.573467,1.762773,1.009411,0.554078,0.865482,0.111024,0.314220,0.547600
15,0.595467,1.954147,2.589111,1.019437,2.708173,2.067144,2.378832,1.332651,1.834490,0.521294,1.890275,3.675810,3.764498,1.112451,3.333501,2.386031,4.624132,3.806565,31.327286,3.029037,3.070598,2.400389,1.117919,1.667136,0.710150,0.136050
16,1.437520,1.372861,1.854112,1.855230,3.278718,2.646726,3.584716,2.990838,2.749103,2.210795,3.559708,2.479618,2.439886,2.654733,7.692290,4.743568,3.697115,17.491773,2.661552,3.346892,3.865476,3.022672,1.873884,2.120293,1.612840,1.326600
17,1.624214,2.764076,4.612894,3.004927,3.589583,2.787565,2.376305,2.355274,2.221653,1.748350,1.763514,1.882221,1.212921,2.240405,1.619406,1.498000,1.189273,1.515180,1.865942,2.227080,3.262150,5.154090,19.662506,4.110500,3.366924,2.435106
18,1.073898,1.110098,2.213075,1.502705,2.502065,1.167080,1.871157,2.109739,1.861436,0.901682,1.560273,1.174637,1.360357,1.963079,1.585315,2.653817,1.257425,4.024201,3.306748,36.430140,3.837304,3.466351,2.199224,2.966467,1.554326,1.381858
19,0.729332,0.151940,1.205786,0.368627,1.224171,0.813456,0.646828,0.159977,0.366826,1.041443,1.841896,0.436496,0.549135,0.703724,1.473233,1.038064,0.686187,74.828920,1.674356,1.588224,1.949532,1.576586,1.015975,0.897184,0.525894,0.700099

In [192]:
ek_2w_prc_mean['kmMiniBatch'] = kminibatch_labels

In [193]:
ek_2w_prc_mean.kmMiniBatch.value_counts()

2     2401
9      518
16     515
17     514
13     466
7      414
1      341
18     327
11     285
4      262
6      241
14     228
0      225
8      221
19     218
15     215
12     213
10     200
5      198
3      196
Name: kmMiniBatch, dtype: int64

#### Normal KMeans

In [180]:
from sklearn.cluster import KMeans

nkmeans = KMeans(n_clusters=10, random_state=0, verbose=1, n_jobs=-1)

nkmeans_labels = nkmeans.fit_predict(X)

In [181]:
pd.DataFrame(data=nkmeans.cluster_centers_, columns=X_columns)

KW_2,1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51
0,1.384876,1.383198,1.909419,1.220893,1.048416,0.697487,1.454145,1.521305,2.075336,0.841240,1.460403,1.427292,1.068835,1.241309,0.807523,0.851708,0.763334,1.880378,1.309339,2.637939,4.288203,44.695057,4.086978,3.193244,2.305337,1.302549
1,1.464954,2.503118,62.869590,2.001959,2.777056,2.004229,1.363750,0.622658,1.110566,0.793920,1.458455,0.411078,1.473202,0.632896,0.579413,0.692267,0.426733,2.397439,0.457502,1.238642,0.751824,1.301764,0.741247,1.173396,0.733522,0.650734
2,0.980375,0.609724,1.483448,0.867405,1.009632,0.820130,1.194321,0.512208,0.620803,0.964725,2.058188,0.547139,1.491535,1.029451,1.787310,1.296997,1.644412,67.978245,1.886246,2.081067,1.909811,1.321607,0.973104,1.408983,0.619403,0.534900
3,1.620127,1.826232,1.648266,1.352334,2.470911,1.180459,1.806552,4.120407,1.977082,1.349445,1.079727,1.318649,1.038273,0.945777,1.085814,1.077583,1.074137,1.751651,2.078350,2.405289,21.954118,4.199449,4.779056,13.428791,5.725371,1.624611
4,0.946585,0.425738,0.875149,1.215136,1.687991,1.523496,1.700225,2.746138,66.789568,3.349725,1.866365,1.494402,0.699210,0.902017,0.419756,1.158180,0.522830,1.442664,0.660325,1.628539,0.561432,0.639133,0.671587,0.643957,0.552534,1.306504
5,1.186253,1.659172,2.851643,3.506391,53.853446,2.132235,2.925212,2.309148,2.318989,1.149741,1.616734,0.898254,1.789481,1.308294,1.291515,1.400757,1.143922,1.132247,1.209326,1.061299,0.864880,1.117920,1.103640,0.959790,1.085331,0.915721
6,2.970771,2.598919,2.604416,2.954397,2.717911,2.526163,2.608002,4.815297,2.841375,2.885546,4.727349,3.231199,3.973848,3.463475,2.564056,1.551736,2.086733,2.414491,2.455939,2.651452,1.553047,2.015163,2.612053,1.771356,2.351526,2.569045
7,1.076260,1.033635,2.355411,1.474445,3.078818,2.141638,55.570071,3.770620,3.002002,1.378108,1.978120,0.974083,1.151527,1.815583,1.046749,1.264744,0.945201,1.272093,0.729006,1.284228,0.881950,0.931196,0.872264,0.755640,0.334751,0.878791
8,1.186115,1.241962,1.341059,1.705880,1.572935,0.785121,1.375763,1.796886,1.777078,1.615735,1.531878,1.613199,1.987374,2.128490,4.876190,46.964018,2.526923,3.046869,1.948509,2.300875,1.320239,1.726130,1.082594,0.953040,0.966661,0.873928
9,0.824082,0.472524,1.017689,0.575726,1.224581,0.639794,1.264732,0.756655,0.943427,0.382520,0.586236,0.488357,0.796719,0.950066,0.491638,0.914101,0.610198,1.753848,2.099156,69.277467,2.651253,1.673523,1.881123,1.590380,0.575253,0.913796

In [183]:
pd.Series(nkmeans_labels).value_counts()

6    4824
3    1086
0     374
9     323
8     301
5     285
2     271
1     265
7     264
4     205
dtype: int64