In [1]:
import capacity as cap

# Load data

In [2]:
cap_data = cap.load_cap_data("simulation.pkl")

16:53:36 [INFO] Started loading pickle file ...
16:53:36 [INFO] Reading from file C:\Users\kpf\data\capacity\simulation.pkl
16:53:36 [INFO] ... finished loading pickle file in 0.01s (0.02s CPU)

In [3]:
cap_data.head()

   year  kw  fl_nr      prob  belegt
0  2016   1  10000  0.515679       1
1  2016   1  10001  0.701675       1
2  2016   1  10002  0.513100       1
3  2016   1  10003  0.585118       1
4  2016   1  10004  0.788474       1

# Analysis

In [4]:
cap_per_kw = cap_data.groupby(["year", "kw"])[["belegt"]].agg("sum").reset_index()

cap_per_kw["belegt"] /= cap.N_FLAECHEN
cap_per_kw["year.kw"]
cap_per_kw

     year  kw  belegt
0    2016   1   0.884
1    2016   2   0.831
2    2016   3   1.000
3    2016   4   0.236
4    2016   5   0.581
..    ...  ..     ...
203  2019  48   0.000
204  2019  49   0.000
205  2019  50   0.662
206  2019  51   0.390
207  2019  52   0.347

[208 rows x 3 columns]

In [5]:
import altair as alt

In [ ]:
alt.Chart(cap_per_kw).mark_line().encode()