# blah blah

In [3]:

import numpy as np
import pandas as pd

#######################
## Datenaufbereitung ##
#######################


# make imports from pa_lib possible (parent directory of file's directory)
import sys
from pathlib import Path
                                
file_dir = Path.cwd()
parent_dir = file_dir.parent
sys.path.append(str(parent_dir))


from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows  = None

## Libraries & Settings ##
from pa_lib.file import load_bin
from pa_lib.util import cap_words
from pa_lib.log import time_log, info

import datetime as dt
from dateutil.relativedelta import relativedelta

from pa_lib.data import (
    clean_up_categoricals,
    unfactorize,
)

from pa_lib.data import desc_col

In [4]:
def load_booking_data():
    bd_raw = load_bin("vkprog\\bd_data.feather").rename(
        mapper=lambda name: cap_words(name, sep="_"), axis="columns"
    )
    bd = bd_raw.loc[(bd_raw.Netto > 0)].pipe(clean_up_categoricals)
    return bd

In [5]:
bd_raw = load_booking_data()

2019-10-29 16:44:45 [INFO] Started loading binary file
2019-10-29 16:44:45 [INFO] Reading from file C:\Users\stc\data\vkprog\bd_data.feather
2019-10-29 16:44:45 [INFO] Finished loading binary file in 0.15s (0.77s CPU)

In [47]:
#desc_col(ek_info)

# OMG! I FORGOT ABOUT THE IMPLICIT USE OF COLUMNS IN THE ROW SELECTION!!!

In [124]:
crm_data = load_bin("vkprog\\crm_data.feather").astype({"ENDKUNDE_NR": "int64"})

2019-10-30 14:35:36 [INFO] Started loading binary file
2019-10-30 14:35:36 [INFO] Reading from file C:\Users\stc\data\vkprog\crm_data.feather
2019-10-30 14:35:37 [INFO] Finished loading binary file in 0.21s (0.33s CPU)

In [125]:
desc_col(crm_data)

                          DTYPE         NULLS  UNIQUE
BETREFF                category    26/1056374  336940
KANAL                  category     0/1056400      12
STARTTERMIN      datetime64[ns]     0/1056400    3817
QUELLE                 category     0/1056400       3
VERANTWORTLICH         category     0/1056400     337
KUERZEL                category     1/1056399     340
ENDKUNDE_NR               int64     0/1056400   51555
VB_FILTER_VON    datetime64[ns]  1054692/1708      13
VB_FILTER_BIS    datetime64[ns]  1055145/1255      37
VB_FILTER_GRUND        category  1054709/1691      60

_row_selection = (pd.isna(ek_list.Kleinkunde) &
                  pd.isna(ek_list.Neukunde) &
                  pd.isna(ek_list.Insolvenz) &
                  pd.isna(ek_list.Umsatz_erreicht) &
                  pd.isna(ek_list.kuerzlich_gebucht) &
                  pd.isna(ek_list.kuerzlich_im_aushang) &
                  pd.isna(ek_list.kuerzlich_im_kontakt) &
                  pd.isna(ek_list.VB_FILTER_AKTIV))

- [x] ``Kleinkunde`` (Über die letzten 4 Jahre nie mehr als 3'000 Umsatz pro Jahr)
- [x] ``Neukunde`` (Alle, die erst im aktuellen Jahr Umsatz hatten)
- [x] ``Insolvenz`` (Kunden mit Bonitäts-Flag "keine Verkäufe" werden markiert)
- [x] ``Umsatz_erreicht`` (80% Netto-Umsatz gem. Vorjahr erreicht) Die Idee war uspruenglich Kunden auszuschliessen, welche schon minimum 80% vom Vorjahresumsatz erreicht haben.
- [x] ``kuerzlich_gebucht`` (in den letzten 2 Monaten erfasste Kampagnen )
- [x] ``kuerzlich_im_aushang`` (Aushangbeginn vor 1 Monat oder später)
- [x] ``kuerzlich_im_kontakt`` (CRM-Kontakt in den letzten 4 Wochen)
- [x] ``VB_FILTER_AKTIV`` (in CRM ist eine gültige Sperre für Kunden erfasst)

In [145]:
ek_info = load_bin("vkprog\\ek_info.feather")

2019-10-30 15:05:24 [INFO] Started loading binary file
2019-10-30 15:05:24 [INFO] Reading from file C:\Users\stc\data\vkprog\ek_info.feather
2019-10-30 15:05:24 [INFO] Finished loading binary file in 0.04s (0.03s CPU)

In [146]:
ek_info.sample(3,random_state=42)

,index,Endkunde_NR,Endkunde,EK_Aktiv,EK_Kam_Betreut,EK_Land,PLZ,GEMEINDE,Agentur,EK_BG,EK_BG_ID,Auftrag_BG_ID,Auftrag_BG_Anz,Last_Res_Date,First_Res_Year,Last_Res_Year,Last_Aus_Date,EK_HB_Apg_Kurzz,AG_Hauptbetreuer,KANTON,BEZIRK,REGION,GROSSREGION,VERKAUFS_GEBIETS_CODE,VB_VKGEB,Letzter_Kontakt,Kanal,Betreff,last_CRM_Ktkt_date,VB_FILTER_VON,VB_FILTER_BIS,Letzte_CRM_Ktkts,Net_2015,Net_2016,Net_2017,Net_2018,Net_2019,Verkaufsberater,Insolvenz
20042,20042,577920,Wizz Air Hungary Kft,1,1,HUNGARY,1185,Budapest,None,WG - Verkehrsbetriebe,410,410,1,2013-06-11,2013,2013,2013-06-17,DEA,None,None,None,None,None,INTERNATIONAL,MAT,CGE,E-Mail,Traffic SR-Actions-2016 - Offre spéciale Power...,2016-09-13,NaT,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None
10311,10311,503679,Cizen Inc. sports & health,1,0,SCHWEIZ,3011,Bern,None,WG - Handel / Grossverteiler,901,"555,720,800",3,2014-10-01,2008,2014,2015-01-01,BEB,None,BE,Bern-Mittelland,Bern,Region Bern,V-M04,YAM,CJA,E-Mail,Verkauf Bern Mitte 2019 - Begleitkommunikation...,2019-09-24,NaT,NaT,"LGE,BIM,MRL,ANS,MAL,CJA",NaN,NaN,NaN,NaN,NaN,None,None
13356,13356,520701,Reist Haushaltapparate AG,1,0,SCHWEIZ,4543,Deitingen,Regio Annoncen + Verlag AG,WG - Haushaltsartikel,290,400,1,2009-11-01,2009,2009,2010-02-01,MWY,LOD,SO,Wasseramt,Solothurn,Region Biel–Jura,V-M03,RIN,None,None,None,NaT,NaT,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None

In [147]:
#
desc_col(ek_info)

                                DTYPE        NULLS UNIQUE
index                           int64      0/32237  32237
Endkunde_NR                     int64      0/32237  32237
Endkunde                       object      0/32237  30291
EK_Aktiv                        int64      0/32237      2
EK_Kam_Betreut                  int64      0/32237      2
EK_Land                        object     49/32188     45
PLZ                             int64      0/32237   2875
GEMEINDE                       object     49/32188   3006
Agentur                        object  20999/11238   3247
EK_BG                          object   1829/30408     83
EK_BG_ID                       object   1829/30408     83
Auftrag_BG_ID                  object      0/32237   1974
Auftrag_BG_Anz                  int64      0/32237     18
Last_Res_Date          datetime64[ns]      0/32237   3019
First_Res_Year                  int16      0/32237     13
Last_Res_Year                   int16      0/32237     12
Last_Aus_Date          datetime64[ns]      0/32237   1448
EK_HB_Apg_Kurzz                object   3289/28948     91
AG_Hauptbetreuer               object  21215/11022     98
KANTON                         object   1178/31059     26
BEZIRK                         object   1178/31059    143
REGION                         object   1178/31059    101
GROSSREGION                    object   1178/31059     16
VERKAUFS_GEBIETS_CODE          object    477/31760     35
VB_VKGEB                       object    477/31760     27
Letzter_Kontakt                object   5624/26613    245
Kanal                          object   5624/26613     11
Betreff                        object   5624/26613   6689
last_CRM_Ktkt_date     datetime64[ns]   5624/26613   1731
VB_FILTER_VON          datetime64[ns]     32177/60     12
VB_FILTER_BIS          datetime64[ns]     32181/56     37
Letzte_CRM_Ktkts               object   8987/23250  10574
Net_2015                      float64  12062/20175   5297
Net_2016                      float64  12062/20175   5129
Net_2017                      float64  12062/20175   5133
Net_2018                      float64  12062/20175   5079
Net_2019                      float64  12062/20175   4868
Verkaufsberater                object  17539/14698   1742
Insolvenz                      object    31624/613      1

In [200]:
net_columns = [col for col in ek_info.columns if col.startswith("Net_")] # Net_2015, ..., Net_2019

row_filter = (
    # Insolvenz:
    (ek_info.loc[:,"Insolvenz"] 
         != True
    ) &
    
    # kuerzlich_gebucht (in den letzten 2 Monaten erfasste Kampagnen):
    (ek_info.loc[:,"Last_Res_Date"] 
        < pd.Timestamp.now() - pd.DateOffset(months=2)
    ) &
    
    # kuerzlich_im_aushang (Aushangbeginn vor 1 Monat oder später):
    (ek_info.loc[:,"Last_Aus_Date"] 
        < pd.Timestamp.now() - pd.DateOffset(months=1)
    ) &
    
    # keine Kleinkunden (Ueber die letzten 4 Jahre nie mehr als 3'000 pro Jahr):
    (ek_info.loc[:,net_columns].max(axis=1).fillna(0) 
        > 3000
    ) &
    
    # keine Neukunden (Alle, die erst im aktuellen Jahr Umsatz hatten):
    ((ek_info.loc[:,sorted(net_columns, reverse=True)[1:]]
             .max(axis=1)
             .fillna(0))
        > 0
    ) &
    
    # Umsatz_erreicht (80% Netto-Umsatz gem. Vorjahr erreicht) 
    ((ek_info.loc[:,sorted(net_columns, reverse=True)[0]]
             .fillna(0))
         <= 0.8*(ek_info.loc[:,sorted(net_columns, reverse=True)[1]]
                        .fillna(0))
    ) &
    
    # kuerzlich_im_kontakt (keine Kunden, mit CRM-Kontakt in den letzten 4 Wochen)
    (ek_info.loc[:,"last_CRM_Ktkt_date"].fillna(pd.Timestamp.now() - pd.DateOffset(years=100)) 
        < pd.Timestamp.now() - pd.DateOffset(months=1)
    ) &
    
    # VB_FILTER_AKTIV (in CRM ist eine gültige Sperre für Kunden erfasst)
     ~(# We define the evil ones, and take the boolean opposite:
    
         # Both entries exist: Customer is right now within "Sperre"
        ((ek_info.loc[:,"VB_FILTER_VON"] < pd.Timestamp.now()) &
         (pd.Timestamp.now() <= ek_info.loc[:,"VB_FILTER_BIS"]))

        |# No end date, but begin date exists: 
        ((ek_info.loc[:,"VB_FILTER_VON"] < pd.Timestamp.now()) &
         (ek_info.loc[:,"VB_FILTER_BIS"].isna()))

        |# No begin date, but end date exists:
        ((ek_info.loc[:,"VB_FILTER_VON"].isna() & 
         (ek_info.loc[:,"VB_FILTER_BIS"] <= pd.Timestamp.now() ))) 
      )
    
    )

display(ek_info.shape)
display(ek_info.loc[row_filter,:].shape)

(32237, 39)

(6468, 39)

In [187]:
test_row_filter = (~ek_info.loc[:,"VB_FILTER_BIS"].isna() | ~ek_info.loc[:,"VB_FILTER_VON"].isna())
container_vb_filter = ek_info.loc[test_row_filter,["Endkunde_NR", "VB_FILTER_VON","VB_FILTER_BIS"]]

In [188]:
container_vb_filter

       Endkunde_NR VB_FILTER_VON VB_FILTER_BIS
535         105868    2019-06-04    2040-03-31
818         109179    2019-06-03    2019-11-29
1114        113039    2019-06-25           NaT
1260        114363    2019-06-25           NaT
2248        121940    2019-05-06    2020-03-06
2783        125764    2019-07-04           NaT
2838        126259    2019-06-03           NaT
3734        134826    2019-06-03    2020-04-03
4166        138991    2019-06-03    2020-04-03
4566        147285    2019-07-16    2021-05-10
4912        158993    2019-06-03    2020-04-03
6805        466583    2019-06-03    2020-05-25
6840        467034    2019-05-06    2020-03-06
6876        467446    2019-06-03    2020-04-03
6968        468548    2019-06-03    2019-09-23
7253        471471    2019-06-03    2019-12-30
7423        473025    2019-07-16    2023-05-22
9778        498646    2019-06-03    2019-09-16
9945        500269    2019-07-16    2026-04-20
10491       504952    2019-06-28    2019-10-31
11444       510963    2019-09-24    2019-11-01
11765       513097    2019-06-03    2020-04-03
11768       513126    2019-09-24    2020-07-24
11845       513588    2019-07-16    2020-02-03
12087       514975    2019-07-16    2026-05-18
12421       516592    2019-07-16    2020-02-03
13984       534248    2019-07-16    2021-05-10
14316       536527    2019-07-23    2036-05-23
15280       543819    2019-07-16    2022-05-16
16233       550090    2019-06-03    2020-04-03
17923       562334    2019-06-25    2020-04-25
19262       572514    2019-07-16    2021-05-10
20157       578686    2019-07-16    2020-01-06
20183       578949    2019-06-03    2019-10-28
20337       580034    2019-06-03    2020-04-03
23832       602561    2019-06-03    2020-04-03
24139       605233    2019-06-03    2019-08-19
24161       605558    2019-06-03    2020-07-27
24384       607645           NaT    2019-11-04
24430       607971    2019-07-16    2025-05-12
24495       608271    2019-06-03    2020-04-03
24742       609791    2019-07-23    2036-05-01
24915       610996    2019-07-16    2023-05-15
25530       614639    2019-06-04    2040-04-06
25592       615049    2019-01-01    2020-01-31
26463       620898    2019-04-01    2020-02-01
26788       623181    2019-07-04    2020-05-04
27338       626952    2019-06-04    2032-04-02
28068       631657    2019-05-06    2023-01-31
28472       634361    2019-09-24           NaT
28706       635855    2019-06-03    2020-04-03
28921       637249    2019-09-24    2020-07-24
29353       640170    2019-06-03    2020-04-03
29460       641032    2019-07-16    2026-05-04
29762       643056    2019-07-16    2020-02-03
29917       644232    2019-07-16    2023-05-15
29990       644829    2019-07-16    2025-05-26
30007       644934    2019-07-16    2023-05-15
31207       653528    2019-06-03    2019-11-18
31620       656473    2019-06-13    2021-06-30
32217       660370    2019-04-01    2020-02-01

In [199]:
test_row_filter = ~(# We define the evil ones, and take the boolean opposite
    
     # Both entries exist: Customer is right now within "Sperre"
    ((ek_info.loc[:,"VB_FILTER_VON"] < pd.Timestamp.now()) &
     (pd.Timestamp.now() <= ek_info.loc[:,"VB_FILTER_BIS"]))
    
    |# No end date, but begin date exists: 
    ((ek_info.loc[:,"VB_FILTER_VON"] < pd.Timestamp.now()) &
     (ek_info.loc[:,"VB_FILTER_BIS"].isna()))
    
    |# No begin date, but end date exists:
    ((ek_info.loc[:,"VB_FILTER_VON"].isna() & 
     (ek_info.loc[:,"VB_FILTER_BIS"] <= pd.Timestamp.now() ))) 
    )

In [197]:
container_vb_filter = ek_info.loc[test_row_filter,["Endkunde_NR", "VB_FILTER_VON","VB_FILTER_BIS"]]

In [198]:
container_vb_filter

       Endkunde_NR VB_FILTER_VON VB_FILTER_BIS
535         105868    2019-06-04    2040-03-31
818         109179    2019-06-03    2019-11-29
1114        113039    2019-06-25           NaT
1260        114363    2019-06-25           NaT
2248        121940    2019-05-06    2020-03-06
2783        125764    2019-07-04           NaT
2838        126259    2019-06-03           NaT
3734        134826    2019-06-03    2020-04-03
4166        138991    2019-06-03    2020-04-03
4566        147285    2019-07-16    2021-05-10
4912        158993    2019-06-03    2020-04-03
6805        466583    2019-06-03    2020-05-25
6840        467034    2019-05-06    2020-03-06
6876        467446    2019-06-03    2020-04-03
7253        471471    2019-06-03    2019-12-30
7423        473025    2019-07-16    2023-05-22
9945        500269    2019-07-16    2026-04-20
10491       504952    2019-06-28    2019-10-31
11444       510963    2019-09-24    2019-11-01
11765       513097    2019-06-03    2020-04-03
11768       513126    2019-09-24    2020-07-24
11845       513588    2019-07-16    2020-02-03
12087       514975    2019-07-16    2026-05-18
12421       516592    2019-07-16    2020-02-03
13984       534248    2019-07-16    2021-05-10
14316       536527    2019-07-23    2036-05-23
15280       543819    2019-07-16    2022-05-16
16233       550090    2019-06-03    2020-04-03
17923       562334    2019-06-25    2020-04-25
19262       572514    2019-07-16    2021-05-10
20157       578686    2019-07-16    2020-01-06
20337       580034    2019-06-03    2020-04-03
23832       602561    2019-06-03    2020-04-03
24161       605558    2019-06-03    2020-07-27
24430       607971    2019-07-16    2025-05-12
24495       608271    2019-06-03    2020-04-03
24742       609791    2019-07-23    2036-05-01
24915       610996    2019-07-16    2023-05-15
25530       614639    2019-06-04    2040-04-06
25592       615049    2019-01-01    2020-01-31
26463       620898    2019-04-01    2020-02-01
26788       623181    2019-07-04    2020-05-04
27338       626952    2019-06-04    2032-04-02
28068       631657    2019-05-06    2023-01-31
28472       634361    2019-09-24           NaT
28706       635855    2019-06-03    2020-04-03
28921       637249    2019-09-24    2020-07-24
29353       640170    2019-06-03    2020-04-03
29460       641032    2019-07-16    2026-05-04
29762       643056    2019-07-16    2020-02-03
29917       644232    2019-07-16    2023-05-15
29990       644829    2019-07-16    2025-05-26
30007       644934    2019-07-16    2023-05-15
31207       653528    2019-06-03    2019-11-18
31620       656473    2019-06-13    2021-06-30
32217       660370    2019-04-01    2020-02-01

In [120]:
#sticcio = sorted(net_columns, reverse=True)[1:]
#print(sticcio)

In [119]:
#ek_info.loc[:,sorted(net_columns, reverse=True)[0]].fillna(0) <= 0.8*ek_info.loc[:,sorted(net_columns, reverse=True)[1]].fillna(0) + 1

In [107]:
sorted(net_columns, reverse=True)[1]

'Net_2018'

In [95]:
print(net_columns)

['Net_2015', 'Net_2016', 'Net_2017', 'Net_2018', 'Net_2019']

In [98]:
#ek_info.loc[:,net_columns].max(axis=1).fillna(0) > 3000

In [69]:
#ek_info.loc[:,"Last_Res_Date"] > pd.Timestamp.now() - pd.DateOffset(months=2)

In [6]:
bd_raw.sample(5, random_state=42)

,Endkunde_NR,Endkunde,EK_Abc,EK_Boni,EK_Plz,EK_Ort,EK_Land,EK_HB_Apg_Kurzz,EK_Kam_Betreut,EK_Aktiv,Agentur,AG_Hauptbetreuer,Verkaufsberater,Endkunde_Branchengruppe_ID,Endkunde_Branchengruppe,Endkunde_Nbranchengruppe_ID,Endkunde_Nbranchengruppe,Endkunde_Branchenkat_ID,Endkunde_Branchenkat,Endkunde_Nbranchenkat_ID,Endkunde_Nbranchenkat,Auftrag_Branchengruppe_ID,Auftrag_Branchengruppe,Auftrag_Nbranchengruppe_ID,Auftrag_Nbranchengruppe,Auftrag_Branchenkat_ID,Auftrag_Branchenkat,Auftrag_Nbranchenkat_ID,Auftrag_Nbranchenkat,Agps_NR,Segment,KV_NR,KV_Typ,Kampagnen_Status,Kampagne_Erfassungsdatum,Kampagne_Beginn,Auftragsart,Res_Dat,Annullation_Datum,Aush_Von,Dauer,Vertrag,Brutto,Netto,Agglo,PF,Kamp_Beginn_Jahr,Kamp_Beginn_KW,Kamp_Beginn_KW_2,Kamp_Beginn_KW_4,Kamp_Erfass_Jahr,Kamp_Erfass_KW,Kamp_Erfass_KW_2,Kamp_Erfass_KW_4
1017991,592834,Carta turistica SA,E,gut,6901,Lugano,SCHWEIZ,SOL,0,1,NaN,NaN,ROS,405,WG - Reisen / Hotels / Sanatorien,NaN,NaN,10,WB - Freizeit / Touristik,NaN,NaN,405,WG - Reisen / Hotels / Sanatorien,NaN,NaN,10,WB - Freizeit / Touristik,NaN,NaN,2050838,APG|SGA,811509,KPG,4,2015-03-10,2015-06-15,Kommerziell,2015-03-27,NaT,2015-06-15,14,Nein,3733,3733,"A5192,A5250",F12,2015,25,25,25,2015,11,11,9
1197937,168605,C&A Mode AG,A,gut,6341,Baar,SCHWEIZ,DEA,1,1,"R. Koller & L. Della Piana Koller, Consulting",KUR,KUR,195,WG - Bekleidung / Wäsche,901,WG - Handel / Grossverteiler,04,WB - Bekleidung / persönlicher Bedarf,14,WB - Handel,195,WG - Bekleidung / Wäsche,901,WG - Handel / Grossverteiler,04,WB - Bekleidung / persönlicher Bedarf,14,WB - Handel,1813376,APG|SGA,754283,KPG,4,2013-11-26,2014-05-05,Kommerziell,2013-11-26,NaT,2014-05-05,14,Nein,2428,1991,"90306,90329,90404,91103,91509,92583,93293,9378...","City eBoard,City ePanel,Escalator ePanel,F12,F...",2014,19,19,17,2013,48,47,45
1137867,536344,Küry Automobile AG,D,gut,8803,Rüschlikon,SCHWEIZ,MOE,0,1,X-TRA RAINER TRUTTMANN,BGI,DSC,400,WG - Automarkt,NaN,NaN,13,WB - Verkehr,NaN,NaN,400,WG - Automarkt,NaN,NaN,13,WB - Verkehr,NaN,NaN,1768257,Traffic,742309,KDVTLG,4,2013-09-01,2013-12-01,Traffic Auftrag,2013-09-01,NaT,2013-12-01,365,Ja,7500,7500,A0261,"F12,F24,Ganzheck",2013,48,47,45,2013,35,35,33
865735,104912,APG|SGA Rail,A,gut,8027,Zürich,SCHWEIZ,YAM,0,1,NaN,NaN,JZE,720,WG - Dienstleistung,NaN,NaN,15,WB - Dienstleistung,NaN,NaN,980,WG - Spitäler / Kliniken / Kurzentren / Aerzte,NaN,NaN,21,WB - Spitäler/ Kliniken/ Kurzentren/ Aerzte,NaN,NaN,1672038,Rail,717049,KPG,4,2013-01-09,2013-01-28,Aushangauftrag Partner,2013-01-09,NaT,2013-01-28,7,Nein,576,576,"90306,90329,90404,90412,90768,91103,91362,9137...","F12,F12L,F200,F200L,F24,F4,F4C,F4S,NeonSign,Pr...",2013,5,5,5,2013,2,1,1
165668,144291,AllBlues Konzert AG,D,gut,8404,Winterthur,SCHWEIZ,ACO,0,1,NaN,NaN,ACO,990,WG - Veranstaltungen,NaN,NaN,22,WB - Veranstaltungen,NaN,NaN,990,WG - Veranstaltungen,NaN,NaN,22,WB - Veranstaltungen,NaN,NaN,2798438,Digital Sales,968021,KPG,4,2018-10-04,2018-10-15,Kommerziell,2018-10-04,NaT,2018-10-29,1,Nein,168,168,"A0230,A0261,A0351,A1061,A2701,A3203,A4001,A558...","City eBoard,City ePanel,Escalator ePanel,F12,F...",2018,42,41,41,2018,40,39,37

# datetime stuff

In [1]:
5+6

11

In [5]:
from pa_lib.util import iso_to_datetime

In [6]:
iso_to_datetime(2018,47,1)

datetime.datetime(2018, 11, 19, 0, 0)

In [10]:
dt.date(year=2019, month=3, day=1).isocalendar()

(2019, 9, 5)

In [5]:
import datetime as dt